/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome';


.navbar {
    background-color: #070591;

}

.navbar .navbar-right {
    background-color: #070591;
    color: #ffffff;
}

.navbar .dropdown-toggle {
    background-color: #070591;

}

.dropdown a {
    background-color: #070591;
    color: #ffffff;   
}

.dropdown-menu li {
    background-color: #070591;    
    color: #ffffff;
}

.tweetshead {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.tweetbtn {
    display: inline-block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.tweetshow:hover {
    background-color: #2c29ec;
    color: #ffffff;
}

.tweetedit:hover {
    background-color: #2c29ec;
    color: #ffffff;
}

.tweetdelete:hover {
    background-color: #ec2929;
    color: #ffffff;
}

#tweeter {
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
}

.tweetoutput {
    font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.2em;
}

.tweetshow {
    border-radius: 0;
    border: 0;
    font-size: 1em;
    margin: 0;
}

.tweetedit {
    border-radius: 0;
    border-right: 0;
    border: 0;
    font-size: 1em;
    margin: 0;
    margin-left: -4px;
}

.tweetdelete {
    border-radius: 0;
    border: 0;
    font-size: 1em;
    margin: 0;
    margin-left: -4px;
}

.tweetnew {
    border-radius: 0;
    border: 2px;
    border-color: #1210a0;
    font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.2em;
    margin: 0;
}

.tweetnew:hover {
    background-color: #2c29ec;
    color: #ffffff;
    border: 2px;
    border-color: #1210a0;
    font-size: 1.3em;
}
